@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  color-scheme: dark;
}
.rainbow-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 5%,
    rgba(208, 222, 33, 1) 10%,
    rgba(79, 220, 74, 1) 15%,
    rgba(63, 218, 216, 1) 20%,
    rgba(47, 201, 226, 1) 25%,
    rgba(28, 127, 238, 1) 30%,
    rgba(95, 21, 242, 1) 35%,
    rgba(186, 12, 248, 1) 40%,
    rgba(251, 7, 217, 1) 45%,
    rgba(251, 7, 217, 1) 55%,
    rgba(251, 7, 217, 1) 50%,
    rgba(186, 12, 248, 1) 60%,
    rgba(95, 21, 242, 1) 65%,
    rgba(28, 127, 238, 1) 70%,
    rgba(47, 201, 226, 1) 75%,
    rgba(63, 218, 216, 1) 80%,
    rgba(79, 220, 74, 1) 85%,
    rgba(208, 222, 33, 1) 90%,
    rgba(255, 154, 0, 1) 95%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 100% 200%;
}
