---
import ParticlesBlackHole from "~components/Backgrounds/ParticlesBlackHole.astro";
import ParticlesSplitVertical from "~components/Backgrounds/ParticlesSplitVertical.astro";

const randomIndex = Math.ceil(Math.random() * 3);
---

<div aria-hidden="true" class="fixed inset-0 z-0">
  {
    Math.round(Math.random()) ? (
      <ParticlesBlackHole />
    ) : (
      <ParticlesSplitVertical />
    )
  }
  <noscript>
    <img
      class="inset-0 h-full w-full object-cover motion-safe:animate-pulse"
      src={`/assets/alt-bg-${randomIndex}.jpeg`}
      alt="Background image"
    />
  </noscript>
</div>
