---
import { Image } from "@astrojs/image/components";
// import LazyImage from "~components/Base/LazyImage.astro";
import PageTransition from "~components/Base/PageTransition.astro";
import TextRegular from "~components/Base/TextRegular.astro";
import TextTitle from "~components/Base/TextTitle.astro";
import MainLayout from "~layouts/MainLayout.astro";

import me from "../images/me.png";

// TODO export into different components to do some crazy css stunts & use a framework that does it on mount/update. This is currently SSR once because it's static
const PHRASES = [
  "Welcome to my portfolio, how may I help you?",
  "Oh, how beautiful are the stars?",
  "Some experts say you'll have fun exploring this site...",
  "This site is still enjoyable without JS!",
];
const phrase = PHRASES[Math.floor(Math.random() * PHRASES.length)];
---

<MainLayout
  head={{
    description:
      "Welcome to my personal website! Here I showcase my previous work experience, personal projects and some visual art stuff :3. Maybe also some audiovisual stuff in the future...",
    title: "Roy Eden - Welcome to my portfolio!",
  }}
>
  <PageTransition>
    <div class="flex flex-col items-center pt-8 w-full">
      <div
        class="bg-white rounded-full aspect-square md:w-full w-60 md:max-w-sm lg:max-w-md"
      >
        <Image
          height={448}
          width={448}
          class="rounded-full motion-safe:animate-gradient rainbow-gradient"
          format="webp"
          src={me}
          alt="A picture of me looking at the camera"
        />
        <!-- <LazyImage
          height={448}
          width={448}
          class="rounded-full motion-safe:animate-gradient rainbow-gradient"
          src="/assets/me.png"
          alt="A picture of me looking at the camera"
        /> -->
      </div>
      <div class="w-full space-y-2 px-2 text-center">
        <TextTitle class="w-full h-full">
          Roy Eden <br />
          Full-Stack Developer
        </TextTitle>
        <TextRegular class="px-2">
          <p>{phrase}</p>
        </TextRegular>
      </div>
    </div>
  </PageTransition>
</MainLayout>
