---
import normalizeAstroClassListProps from "~utils/normalizeAstroClassListProps";

export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { classList, ...props } = normalizeAstroClassListProps(
  Astro.props as Props
);
---

<h1 {...props} class:list={[classList, "not-prose"]}>
  <span
    class="rainbow-gradient block bg-clip-text bg-repeat-y pb-1.5 text-center text-4xl font-bold leading-snug text-transparent motion-safe:animate-gradient md:text-5xl lg:text-7xl"
  >
    <slot />
  </span>
</h1>
