---
import normalizeAstroClassListProps from "~utils/normalizeAstroClassListProps";

export interface Props extends astroHTML.JSX.HTMLAttributes {
  level?: number;
}

const {
  classList,
  level = 1,
  ...props
} = normalizeAstroClassListProps(Astro.props as Props);
---

<div
  {...props}
  class:list={[
    classList,
    "border-2 rounded-lg border-neutral-800 flex flex-col w-full",
    {
      "bg-neutral-900/50": level === 1,
      "motion-safe:backdrop-blur-sm bg-neutral-900/90": level === 2,
    },
  ]}
>
  <slot />
</div>
