---
import normalizeAstroClassListProps from "~utils/normalizeAstroClassListProps";
import Accordion from "~components/Base/Accordion.astro";
import SmartLink from "~components/Base/SmartLink.astro";
import Card from "./Card.astro";
import TextHighlight from "./TextHighlight.astro";
import styles from "./table-of-contents.module.css"

export interface Props extends astroHTML.JSX.HTMLAttributes {
  items: {
    title: string;
    id: string;
  }[];
}

const { classList, items, ...props } = normalizeAstroClassListProps(
  Astro.props as Props
);
---

<!-- TODO fix minor z-index glitch with borders --><!-- TODO fix minor z-index glitch with borders --><!-- TODO implement intersection observer to fix table of contents in desktop context -->
<Card
  {...props}
  class:list={[
    classList,
    styles.container,
    "max-w-2xl w-full sticky top-1 p-1 overflow-y-auto scrollbar-track-black/20 scrollbar scrollbar-thin scrollbar-thumb-pink-500",
  ]}
  level={2}
>
  <Accordion>
    Contents
    <ul slot="content" class="divide-y divide-neutral-800">
      {
        items.map(({ title, id }) => (
          <li class="transition-colors duration-300 hover:bg-white/5">
            <SmartLink title={title} class="block w-full" href={`#${id}`}>
              <TextHighlight class="block w-full p-3 underline">
                {title}
              </TextHighlight>
            </SmartLink>
          </li>
        ))
      }
    </ul>
  </Accordion>
</Card>
